extends ../layout

block content
	.container
		.row
			.col-md-offset-3.col-md-6
				.panel.panel-primary
					.panel-heading 订单
					.panel-body
						form.form-horizontal.myform(method="post",action="/order/new/#{good._id}")
							input(type="hidden",name="order[_id]",value="#{order._id}")
							input#user(type="hidden",name="order[username]",value="#{order.username}")
							.form-group
								label.col-md-3.text-muted.control-label(for="inputGoodName") 商品名称:
								.col-md-9
									input#inputGoodName.form-control(type="text",name="order[goodname]",value="#{order.goodname}",disabled)
							.form-group
								label.col-md-3.text-muted.control-label(for="inputPrice") 单价:
								.col-md-9
									input#inputPrice.form-control(type="text",name="order[price]",value="#{order.price}",disabled)
							.form-group
								label.col-md-3.text-muted.control-label(for="inputCount") 数量:
								.col-md-9
									input#inputCount.form-control(type="text",name="order[count]",value="#{order.count}")
							.form-group
								label.col-md-3.text-muted.control-label(for="inputTotal") 总价:
								.col-md-9
									input#inputTotal.form-control(type="text",name="order[total]",value="#{order.total}")
							.form-group
								label.col-md-3.text-muted.control-label(for="inputLinkMan") 联系人:
								.col-md-9
									input#inputUserName.form-control(type="text",name="order[linkman]",value="#{order.linkman}")
							.form-group
								label.col-md-3.text-muted.control-label(for="inputPhone") 联系电话:
								.col-md-9
									input#inputPhone.form-control(type="text",name="order[phone]",value="#{order.phone}")
							.form-group
								label.col-md-3.text-muted.control-label(for="inputAddress") 送货地址:
								.col-md-9
									input#inputAddress.form-control(type="text",name="order[address]",value="#{order.address}")					
							button.col-md-offset-1.col-md-3.btn.btn-danger.btn-lg(type="submit") 下单
							a.col-md-offset-4.col-md-3.btn.btn-info.btn-lg(href="/") 返回

							script(src="/libs/js/order.js")
									
